html {
  font-family: "Roboto";
  width: 1440px;
}
li {
  list-style-type: none;
}
:link {
  color: white;
}
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  border: 0;
  padding-left: 188px;
  box-sizing: border-box;
}
.header__nav {
  border: 0;
  margin: 0;
}
.header__item-list {
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  margin: 0;
}
.header__item {
  margin-right: 28px;
  font-size: 16px;
  font-weight: 700px;
  line-height: 26.4px;
  list-style-type: none;
  max-height: 27px;
}
.header__icons-list {
  display: flex;
  background-color: white;
}
.header__icons-list {
  padding: 0;
  margin: 0;
  border: 0;
  margin-right: 187px;
}
.header__icons-item {
  margin-right: 26px;
}
.header__button {
  border: 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.intro {
  position: relative;
  display: flex;
  height: 554px;
  background-color: #f0efeb;
  border: 0;
  margin: 0;
  padding-left: 188px;
  padding-top: 9px;
  box-sizing: border-box;
}
.intro__info {
  padding-top: 82px;
}
.intro__title {
  margin: 0;
  width: 534px;
  height: 214px;
  padding: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 42px;
}
.intro__description {
  height: 56px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 26px;
}
.intro__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
}
.about {
  box-sizing: border-box;
  display: block;
  height: 1274px;
  border: 0;
  padding-top: 60px;
}
.about__info {
  margin: 0;
  padding-left: 374px;
}
.about__title {
  margin: 0;
}
.about__title--up {
  height: 42px;
  width: 692px;
  border-radius: nullpx;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;
}
.about__description {
  padding-left: 30px;
  margin: 0;
  height: 69px;
  width: 632px;
  border-radius: nullpx;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 47px;
}
.about__extra {
  padding-left: 161px;
  height: 23px;
  width: 371px;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0px;
  margin-bottom: 88px;
}
.about__title--down {
  padding-left: 218px;
  height: 42px;
  width: 256px;
  border-radius: nullpx;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 52px;
}
.about__list {
  padding: 0;
  display: flex;
  position: relative;
  padding-left: 191px;
  margin: 0;
}
.about__item {
  margin-right: 63px;
}
.about__item--image {
  margin-bottom: 27px;
  width: 315px;
  height: 430px;
}
.about__wrapper {
  position: relative;
  justify-content: center;
  padding-left: 76px;
}
.about__headline {
  margin: 0;
  height: 60px;
  width: 156px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 17px;
}
.about__price {
  margin: 0;
  display: block;
  height: 60px;
  width: 156px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.about__link {
  padding-left: 32px;
  height: 20px;
  min-width: 96px;
  border-radius: nullpx;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline;
}
.Card1 {
  box-sizing: border-box;
  position: relative;
  display: flex;
  height: 652px;
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0px;
  padding-top: 76px;
  padding-left: 188px;
}
.Card1__image {
  border: 0;
  margin: 0;
  margin-right: 50px;
}
.Card1__info-header {
  padding-top: 70px;
  margin: 0;
  width: 314px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 31px;
}
.Card1__info-main {
  margin: 0;
  width: 498px;
  height: 252px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
}
.Card1__link {
  min-width: 169px;
  height: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.Card1__link,
.Card2__link,
.Card3__link {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  text-decoration: underline;
}
.Card2 {
  position: relative;
  display: flex;
  height: 652px;
  background: rgba(204, 204, 204, 0.6);
  border-radius: 0px;
  box-sizing: border-box;
  padding-top: 76px;
  padding-left: 304px;
}
.Card2__info-header {
  width: 347px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: right;
  padding-left: 166px;
  margin: 0;
  margin-bottom: 31px;
}
.Card2__info-main {
  width: 513px;
  height: 252px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: right;
  margin: 0;
  margin-bottom: 31px;
}
.Card2__link {
  min-width: 169px;
  height: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  margin: 0;
  padding-left: 344px;
  margin-right: 50px;
}
.Card2__image {
  height: 525px;
  width: 385px;
  border-radius: 0px;
}
.Card3 {
  display: flex;
  box-sizing: border-box;
  height: 652px;
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0px;
  padding-top: 76px;
  padding-left: 188px;
}
.Card3__image {
  height: 525px;
  width: 385px;
  border-radius: 0px;
  margin-right: 50px;
}
.Card3__info-header {
  padding-top: 92px;
  width: 314px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 31px;
}
.Card3__info-main {
  margin: 0;
  width: 498px;
  height: 252px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 39px;
}
.Card3__link {
  margin: 0;
  min-width: 169px;
  height: 20px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.info {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 1326px;
  border-radius: 0px;
  padding-top: 190px;
  padding-left: 322px;
  padding-right: 263px;
}
.info__header {
  height: 42px;
  width: 430px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 183px;
  margin: 0;
  margin-bottom: 69px;
}
.info__header-text {
  margin: 0;
  margin-bottom: 69px;
}
.info__main-blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.info__main-block {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-bottom: 26px;
}
.info__main-block-li {
  height: 167px;
  width: 189px;
  margin-right: 50px;
  margin-bottom: 164px;
}
.Image1 {
  background-color: #21f7ec;
}
.Image2 {
  background: #33d3bc;
}
.Image3 {
  background: #18a5c6;
}
.Image4 {
  background: #d38f62;
}
.Image5 {
  background: #f94c43;
}
.Image6 {
  background: #d399ff;
}
.info__main-blocktext {
  margin: 0;
  max-height: 70px;
  max-width: 189px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 175px;
  width: 200px;
}
.info__outro {
  width: 705px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding-left: 46px;
}

.Peoples {
  position: relative;
  display: flex;
  height: 480px;
  background-color: #f0f0f0;
  border: 0;
  box-sizing: border-box;
  padding-left: 188px;
}
.Peoples__number {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  margin-top: -188px;
}
.Peoples__number-1Image,
.Peoples__number-2Image,
.Peoples__number-3Image {
  width: 288px;
  height: 351px;
  margin-right: 100px;
  margin-bottom: 35px;
}
.Peoples__number-1Uppertext,
.Peoples__number-2Uppertext,
.Peoples__number-3Uppertext {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.6000000238418579px;
  text-align: center;
  width: 285px;
  margin: 0;
  margin-bottom: 40px;
}

.Peoples__number-1Lowertext,
.Peoples__number-2Lowertext,
.Peoples__number-3Lowertext {
  height: 55px;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  width: 214px;
  padding-left: 50px;
  margin-bottom: 44px;
}

.Peoples__number-1link,
.Peoples__number-2link,
.Peoples__number-3link {
  width: 74px;
  height: 21px;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0;
  padding-left: 107px;
}
.Registr {
  position: relative;
  display: flex;
  border: 0;
  height: 429px;
  box-sizing: border-box;
  padding-left: 472px;
  padding-top: 79px;
}
.Registr__User-form_Ul {
  margin: 0;
  padding: 0;
  display: block;
}
.Registr__User-header {
  width: 229px;
  height: 42px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  padding-left: 134px;
  margin-bottom: 9px;
}
.Registr__User-info {
  width: 496px;
  height: 40px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
}
.Registr__Userform_InputLastNameFirstName {
  box-sizing: border-box;
  width: 153px;
  height: 39px;
  margin-right: 55px;
  border: 1px solid #000000;
  border-radius: 0px;
  margin-bottom: 18px;
}
.Registr__FirstName__LastName {
  box-sizing: border-box;
  padding-left: 65px;
}
.Registr__Email {
  box-sizing: border-box;
  padding-left: 65px;
}
.Registr__Userform_InputEmail {
  box-sizing: border-box;
  width: 366px;
  height: 39px;
  border: 1px solid #000000;
  border-radius: 0px;
  margin-bottom: 23px;
}
.Registr__User-link1 {
  padding-left: 181px;
}
.Registr__User-link {
  width: 69px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  color: #ffffff;
}
.footer {
  display: flex;
  height: 291px;
  background-color: #000000;
  border: 0;
  padding-left: 177px;
  padding-top: 51px;
  box-sizing: border-box;
}
.footer__Logos {
  margin: 0;
  padding: 0;
}
.footer__Logo {
  margin-bottom: 37px;
  margin-right: 359px;
}
.footer__Social-facebook,
.footer__Social-instagram {
  margin-right: 23px;
}
.footer__link-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
.Ones-column,
.Twos-column {
  margin: 0;
  padding: 0;
}
.footer__link-list-1 {
  margin-right: 168px;
  margin-bottom: 36px;
}
.footer__link-list-2 {
  margin-bottom: 36px;
}
.footer__link-list {
  margin-bottom: 12px;
}
.footer__outro {
  box-sizing: border-box;
  padding-top: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-right: 107px;
}
